/* Hit Animations */
@keyframes hit {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.isHit {
  animation: hit 0.5s;
  animation-iteration-count: 1;
}

.game-container {
  position: relative;
  height: 100%;
  text-align: center;
}

.game-container button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: royalblue;
}

.game-container .centered {
  text-align: center;
}

.battle-ground {
  position: relative;
  background: url('../../assets/bg.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 450px;
}

.battle-ground .inner {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 10px;
}

.battle-ground h2 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-shadow: 1px 2px 3px #333;
}

.battle-ground .user-control {
  position: absolute;
  bottom: -28px;
}
.battle-ground .user-control button:first-child {
  margin-left: 0;
}
.battle-ground .user-control button {
  margin: 0 2px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: royalblue;
}

.battle-ground .column-player {
  width: 50%;
  height: 100%;
  padding: 5px;
  float: left;
}
.battle-ground .column-player img {
  position: absolute;
  width: 20%;
  left: 100px;
  bottom: 25px;
}

.battle-ground .column-dragon {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 5px;
  float: right;
}
.battle-ground .column-dragon img {
  position: absolute;
  width: 100%;
  left: 161px;
  top: -44px;
}

.battle-ground .commentary-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  text-align: justify;
  background-color: white;
  opacity: 0.7;
  height: 100%;
}

.health-bar {
  border: 1px solid #A3CB38;
}
.health-bar, .health-bar .inner {
  width: 80%;
  height: 35px;
  background-color: #eeeeee;
  margin: auto;
  transition: width 500ms;
}
.health-bar, .health-bar .inner p {
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 1px 2px 3px #333;
  line-height: 2;
}

.health-bar .inner {
  height: 33px;
}

.notification {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 1024;
  width: 100%;
  text-align: center;
}

.notification button {
  border: none;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: royalblue;
}

.notification .inner {
  padding: 30px;
  width: 300px;
  margin: 135px auto 0 260px;
  background-color: white;
}

.commentary-logs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.commentary-logs ul > li {
  position: relative;
  display: block;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  font-size: 12px;
}

.commentary-logs ul > li > span {
  color: red;
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .battle-ground {
    width: 100%;
    height: 280px;
  }
  .battle-ground h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .battle-ground .inner {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .battle-ground .inner .user-control {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .battle-ground .inner .user-control button {
    font-size: 12px;
  }
  .battle-ground .column-player img {
    left: 55px;
    bottom: 13px;
  }
  .battle-ground .column-dragon img {
    left: unset;
    bottom: 0;
    top: unset;
    right: 0;
  }
  .health-bar {
    position: relative;
    width: 100%;
    height: 20px;
  }
  .health-bar .inner {
    height: 18px;
    padding: 0;
  }
  .health-bar .inner p {
    line-height: 1.6;
    font-size: 11px;
  }
  .battle-ground .commentary-container {
    top: unset;
    right: unset;
    bottom: -385px;
    width: 100%;
    opacity: 0.9;
  }
  .notification .inner {
    margin: 40px auto 0 22px;
  }
  .notification .inner button {
    cursor: pointer;
  }
}